.checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.checkbox__input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.checkbox__box {
	width: 24px;
	height: 24px;
	border: 2px solid #c6cfdc;
	border-radius: 7px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transition:
		background-color 0.2s,
		border-color 0.2s;
}

.checkbox__box.checked {
	background-color: #007fff;
	border-color: #007fff;
}

.checkbox__icon {
	width: 12px;
	height: 8px;
	color: #ffffff;
}
