.tasks__item {
	width: 100%;
	padding: 25px 60px 25px 24px;
	border-radius: 20px;
	background-color: #f5f7f9;
	list-style: none;
	display: flex;
	gap: 20px;
}

.tasks__item:not(:last-child) {
	margin-bottom: 20px;
}

.tasks__itemTitle {
	font-size: 18px;
	font-weight: 600;
	color: #3f3d56;
	transition:
		color 0.2s ease,
		text-decoration-color 0.2s ease;
}

.completed {
	color: #8d9cb8;
	text-decoration: line-through;
	text-decoration-color: currentColor;
}
