@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family:
		Urbanist,
		ui-sans-serif,
		system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial;
	background: #ffffff;
	color: #0f1724;
}
