@import './normalize.css';

:root {
	--bg: #f7f8fb;
}
html,
body,
#root {
	height: 100%;
}
body {
	margin: 0;
	background: var(--bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

